.priceSlider {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr;
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom: 47px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.priceSlider button {
    border: 1px solid rgb(32, 13, 69);
    border-radius: 7px;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
}

.priceControll {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5fr 1fr;
}

.priceInput {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr;
}

.priceInput input {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(57, 61, 70, 0.9);
    box-sizing: border-box;
    height: 30px;
    padding-bottom: 13px;
    padding-top: 13px;
    width: 86px;
    background: #F6F7FB;
}

.priceRangeContainer {
    align-items: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 44px;
}

.rangeContainerCurrency {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    justify-self: center;
    line-height: 17px;
}

.inputSpan {
    position: relative;
}

.inputSpan::before {
    content: '$';
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translate(0px, -50%);
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(57, 61, 70, 0.9);
}