.root {
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-top: 47px;
    margin-bottom: 160px;
}

.productTopSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.statusBlock {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6b7990;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: start;
}

.compareWrap {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compareBtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9c9ea3;
    border-radius: 50%;
}

.stockStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.review {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productName {
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #393d46;
    margin-bottom: 30px;
}

.stockStatus {
    margin-bottom: 34px;
}

.verticalDivider {
    width: 1px;
    height: 18px;
    background-color: #E5E8EF;
    margin-left: 20px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 31px;
}

.ratingBlock{
    display: flex;
    gap: 4px;
}

.productPrice {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #191a1c;
}

.regularPrise {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: rgba(57, 61, 70, 0.8);
}

.discount {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #f4442e;
}

.shortDescription {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #5f6c81;
    margin-bottom: 32px;
}

.imageCarousel {
    width: 784px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.options {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.topActionCOntainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.addToCartButton {
    width: 340px;
    height: 48px;
    background: #393d46;
    border-radius: 60px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 40px;
}

.addToCartButton_disabled {
    background-color: #9c9ea3;
    width: 340px;
    height: 48px;
    border-radius: 60px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 40px;
}

.quantityRoot {
    composes: root from '../QuantityStepper/quantityStepper.module.css';
    box-sizing: border-box;
    grid-template-columns: 37px 36px 37px;
    composes: justify-start from global;
    width: 110px;
    border-bottom: 1px solid #393d46;
}

.unavailableContainer {
    composes: bg-subtle from global;
    composes: gap-x-2xs from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: italic from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: p-3 from global;
    composes: text-subtle from global;
    composes: w-full from global;
}

.productsCarousel {
    padding: 0px 16px;
    margin-top: 119px;
    margin-bottom: 172px;
}

.sliderTitle {
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #393d46;
    margin-bottom: 12px;
}

.sliderDecription {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #5f6c81;
    margin-bottom: 46px;
}

.productBanner {
    width: 1270px;
    height: 631px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 123px;
    background: #f6f7fb;
}

.bannerInfo {
    width: 470px;
    height: 426px;
    margin-left: 70px;
}

.bannerDiscount {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ff5e5b;
    margin-bottom: 22px;
}

.bannerTitle {
    font-weight: 600;
    font-size: 90px;
    line-height: 76px;
    color: #191a1c;
    margin-bottom: 22px;
}

.bannerDescription {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #5f6c81;
    margin-bottom: 56px;
}

.bannerBtn {
    background: #393d46;
    border: none;
    height: 48px;
    width: 230px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 60px;
}

.tabs {
    box-sizing: border-box;
    height: 54px;
    width: 720px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
}

.border {
    height: 1px;
    width: 100%;
    background-color: #e5e8ef;
    transform: translateY(-1px);
    z-index: 5;
}

.tab {
    box-sizing: border-box;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(57, 61, 70, 0.5);
    width: 25%;
    cursor: pointer;
    border-bottom: 1px solid #e5e8ef;
}

.tab_active {
    composes: tab;
    color: #393d46;
    border-bottom: 1px solid #393d46;
    z-index: 10;
}

.tabContent {
    margin-bottom: 130px;
    border-bottom: 1px solid #e5e8ef;
    margin-top: 91px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5F6C81;
}