.root {
    composes: grid-flow-col from global;
    composes: inline-grid from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: py-2.5 from global;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(57, 61, 70, 0.85);
    height: 34px;
    border-radius: 50px;
    background: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* TODO @TW: cannot compose */
.root svg {
    /* composes: stroke-white from global; */
    /* stroke: rgb(var(--venia-global-color-gray-50)); */
}

.text {
    margin-right: 12px;
}
