.sizeFilterOption {
    height: 30px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(57, 61, 70, 0.75);
}

.sizeFilterOption_active {
    composes: sizeFilterOption;
    background: #393d46;
    color: #ffffff;
    border: 1px solid white;
    outline: 1px solid #393d46;
}
