.root {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
    font-family: 'Poppins';
    font-style: normal;
}

.content {
    position: relative;
    height: 800px;
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 75px;
    padding: 20px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.itemImage {
    height: 200px;
}

.itemName {
    font-size: 22px;
    font-weight: 500;
}

.description {
    color: rgba(76, 79, 87, 0.7);
    ;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemColorBlock {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.checkoutButton {
    /* composes: root_highPriority from '../Button/button.module.css'; */
    border-radius: 0px;
    height: 70px;
    background-color: black;
    width: 300px;
    font-size: 20px;
    border: none;
    color: white;
    text-align: center;
}

.carousel {
    height: 300px;
    width: 100%;
    max-width: 100%;
}