.root {
    /* composes: border-b from global;
    composes: border-solid from global;
    composes: border-subtle from global; */
    /* composes: mx-sm from global; */
    /* composes: my-0 from global; */
    /* composes: px-0 from global; */
    /* composes: py-sm from global; */
    /* margin-bottom: 40px; */
}

.title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #191a1c;
}

.selection {
    composes: flex from global;
    composes: leading-normal from global;
    composes: mt-xs from global;
    composes: text-colorDefault from global;
}

.selectionLabel {
    composes: mr-xs from global;
}

.optionDescription {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(57, 61, 70, 0.6);
}

.sizeBlockTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sizeDescription {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(57, 61, 70, 0.6);
}
.colorBlockTitle{
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .root{
        width: 100%;
    }
}