.root {
    display: flex;
    flex-direction: column;
}

.radio_group {
    display: flex;
    flex-direction: column;

}

.payment_method {

    border-top: 1px solid #E5E8EF;
    border-bottom: 1px solid #E5E8EF;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #191A1C;
}

.payment_method:last-child {
    border-bottom: none;
}

/* TODO @TW: cannot compose */
.payment_method:last-of-type {
}

.radio_label {
    width: 300px;
}

.payment_errors {
    composes: grid from global;
    composes: gap-2xs from global;
    composes: text-error from global;
}