.root {
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-cols-1 from global;
    background: #F6F7FB;
    margin-top: 20px;
    padding: 37px 40px 0px;

}

.root_card_open {
    composes: root;
    position: relative;
    height: 636px;
}

.billingFormOpen {
    composes: root_card_open;
    height: 1432px;
}

.payment_info_container {
    display: flex;
    flex-direction: column;
}

.loading {
    composes: root from '@magento/venia-ui/lib/components/LoadingIndicator/indicator.module.css';

    composes: text-center from global;
}

.heading {
    composes: border-0 from global;

    composes: lg_border from global;
}

.title {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #191A1C;
    margin-bottom: 36px;
}