.items_review_container {
    min-height: 2rem;
    width: 390px;
}

.items_container {
    /* composes: grid from global; */
}

.total_quantity {}

.total_quantity_amount {
    composes: font-semibold from global;
}

.divider {
    margin-top: 30px;
    height: 1px;
    width: 100%;
    background-color: #e5e8ef;
}

.itemReviewHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    margin-bottom: 12px;
}

.editContainer {
    display: flex;
    cursor: pointer;
}

.itemReviewHeading p {
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    color: #393D46;
}

.editContainer p {
    margin-left: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(57, 61, 70, 0.9)
}