.megaMenuItem {
    composes: px-3 from global;
    composes: py-0 from global;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #4C4F57;
}
.megaMenuItem:nth-child(4){
    color: #F4442E;
}

.megaMenuLink {
    composes: items-center from global;
    composes: inline-flex from global;
    min-height: 5rem;
}

.megaMenuLinkActive {
    composes: megaMenuLink;
    composes: underline from global;
}

.megaMenuItem_active {
    composes: megaMenuItem;
    composes: flex from global;
    color: #191A1C;
}

.arrowDown {
    composes: leading-[0] from global;
    composes: pl-2xs from global;
}

/* TODO @TW: cannot compose */
.megaMenuItem:hover .megaMenuLink,
.megaMenuItem:focus .megaMenuLink {
    text-decoration: underline;
}