.submenuColumn {
    composes: max-w-[235px] from global;
    composes: p-5 from global;
}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #393d46;
}

.link {
    composes: whitespace-nowrap from global;

    composes: focus_underline from global;

    composes: hover_underline from global;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(57, 61, 70, 0.8);
}

.linkActive {
    composes: underline from global;
    color: #191a1c;
}

.submenuChild {
    composes: mt-5 from global;
}

.submenuChildItem {
    composes: mb-3 from global;
}
