.root {

}


.tree {

}

/* .tree li:nth-child(4){
    color: red;
} */

.leaf {
}

.branch {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #191A1C;
}

.inactive {
    composes: fixed from global;
    composes: invisible from global;
}
