.root {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #191A1C;
}
/* .root li:nth-child(4){
    background-color: red;
} */

