.radioRoot {
    composes: grid from global;
}

.radioLabel {
    composes: grid from global;
    composes: grid-cols-[100%] from global;
    composes: justify-start from global;
    gap: 3px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #191a1c;
    composes: sm_grid-cols-autoAuto from global;
}

.radioMessage {
    composes: hidden from global;
}

.error {
    composes: leading-normal from global;
    composes: text-error from global;
}

.price {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #191a1c;
}
