.root {
    composes: border-b-2 from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: grid from global;
    composes: rounded-md from global;
    padding: 37px 40px 40px;
    background: #f6f7fb;
    border: none;
    margin-bottom: 20px;
}

.continueToPayment {
    border-radius: 60px;
    height: 48px;
    background-color: #393d46;
    width: 710px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.done {
    composes: root;

    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-subtle from global;
}

.editingHeading {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #191a1c;
    margin-bottom: 36px;
}

.form {
    composes: grid from global;
    composes: grid-rows-autoLast from global;
}

.formButtons {
    composes: flex from global;
    composes: justify-center from global;
}
