.root {
    /* composes: root_highPriority from '../Button/button.module.css'; */

    /* composes: min-w-[6.125rem] from global; */
    /* composes: -ml-2xs from global; */
    /* composes: px-2xs from global;
    composes: py-0 from global;
    composes: self-center from global; */
    /* min-height: 2rem; */

    /* composes: sm_min-w-[8rem] from global; */
    /* composes: md_min-w-0 from global; */
}

.icon {
    composes: inline from global;
    composes: stroke-white from global;
    composes: xs_hidden from global;
}

.text {
    composes: hidden from global;
    composes: xs_inline from global;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #191A1C;
}

.addToCartButton {
    composes: root;
    position: relative;
    height: 46px;
    width: 155px;
    border: none;
    border-radius: 0%;
    background-color: transparent;
    position: relative;
    border: 1px solid #9C9EA3;
    border-radius: 60px;
}

.sliderBtn {

    height: 21px;
    width: 125px;
    align-items: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 27px;
}

.sliderBtn::before {
    content: url('../../assets/Vector11.svg');
    position: absolute;
    left: 0px;
    top: 1px;
    position: absolute;
}

.addToCartButton:hover {
    background-color: transparent;
}

@media (max-width: 768px) {
    .addToCartButton ::before {
        display: none;
    }

    .addToCartButton {
        width: 58px;
        height: 36px;
        border: 1px solid #9C9EA3;
        border-radius: 60px;
        padding: 0px;
        min-width: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4px;
    }

    .text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #393D46;
        text-transform: initial;
    }
}