.root {
    composes: content-start from global;
    composes: grid from global;
    /* composes: gap-y-2xs from global; */
    /* height: 550px; */
    font-family: 'Poppins';
    font-style: normal;
    position: relative;
}

.images {
    composes: grid from global;
    grid-template-areas: 'main';
    position: relative;
}

.imageContainer {
    grid-area: main;
}

.imgContainer {
    position: relative;
}

.image {
    composes: block from global;
    composes: h-full from global;
    composes: object-contain from global;
    composes: w-full from global;
    transition: opacity 512ms ease-out;
    max-width: 310px;
    max-height: 380px;
    margin-bottom: 13px;
}

.imageLoaded {
    composes: loaded from '@magento/venia-ui/lib/components/Image/image.module.css';

    composes: opacity-100 from global;
}

.imageNotLoaded {
    composes: notLoaded from '@magento/venia-ui/lib/components/Image/image.module.css';

    composes: opacity-0 from global;
}

.imagePlaceholder {
    composes: image;

    composes: bg-subtle from global;
}

.actionsContainer {
    display: flex;
    align-items: center;
    min-height: 48px;
}

/* TODO @TW: cannot compose */
.actionsContainer:empty {
    display: none;
}

.name {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #393d46;
    margin-bottom: 8px;
}

.price {
    width: 60px;
    height: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #191a1c;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.regularPrice {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: rgba(57, 61, 70, 0.8);
}

.discount {
    height: 30px;
    width: 89px;
    background: #f4442e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 340px;
    left: 10px;
}

.unavailableContainer {
    composes: bg-subtle from global;
    composes: gap-x-2xs from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: italic from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: p-3 from global;
    composes: text-sm from global;
    composes: text-subtle from global;
    composes: w-full from global;
}

.imageWrap {
    position: relative;
}

.wishListWrap {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    backdrop-filter: blur(4px);
    padding-left: 27px;
}

.compareButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    cursor: pointer;
    border: 1px solid #9c9ea3;
    border-radius: 60px;
    margin-left: 10px;
}

.btnBlock {
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .wishListWrap {
        top: 15px;
        right: 15px;
    }

    .compareButtonWrap {
        position: unset;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        border: 0.6px solid #4c4f57;
        color: #4c4f57;
    }

    .price {
        margin-bottom: 21px;
    }

    .discount {
        top: 230px;
    }
}