.root {
    --stroke: var(--venia-global-color-gray-600);

    /* composes: gap-3 from global; */
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    composes: justify-items-center from global;
    composes: leading-normal from global;
    composes: text-colorDefault from global;
    grid-template-areas: 'input label';
    grid-template-columns: min-content 1fr;
}

.input {
    composes: appearance-none from global;
    composes: bg-transparent from global;
    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-transparent from global;
    composes: cursor-pointer from global;
    composes: rounded from global;
    grid-area: input;
    border: 1px solid #393D46;
    height: 14px;
    width: 14px;
    border-radius: 0px;
    margin-left: 8px;
    margin-right: 8px;

    /* TODO @TW: review, replaces input:disabled. Check if working. */
    composes: disabled_cursor-not-allowed from global;
}

.icon {
    composes: pointer-events-none from global;
    grid-area: input;
    transform: translate(2px, -4px);
    min-height: 14px;
    max-height: 14px;
    min-width: 14px;
    max-width: 14px;
}

.label {
    composes: cursor-pointer from global;
    composes: justify-self-start from global;
    composes: text-colorDefault from global;
    grid-area: label;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(57, 61, 70, 0.9)
}

/* When the input is disabled, update the cursor on the sibling label element. */
/* TODO @TW: cannot compose */
.input:disabled~.label {
    cursor: default;
}

.input:checked:enabled {
    background: #393D46;
}

.input:checked:enabled+.label {
    color: #191A1C;
}

/* TODO @TW: cannot compose, needs "checked" variant enabled. Cannot combine variants. */
.input:active:enabled,
.input:focus:enabled {
    outline: none;
}

.input_shimmer {
    composes: h-[1.5rem] from global;
    composes: rounded from global;
    composes: w-[1.5rem] from global;
}