.root {
    composes: p-xs from global;
    font-family: 'Poppins';
    font-style: normal;
}

.title {
    composes: font-normal from global;
    composes: px-2xs from global;
    composes: py-0 from global;
    composes: text-xl from global;
}

.pagination {
    composes: relative from global;
    composes: bottom-0 from global;
}

.placeholder {
    composes: h-screen from global;
}

.categoryTitle {
    composes: font-light from global;
    composes: leading-snug from global;
    composes: pb-xs from global;
    composes: text-colorDefault from global;
    composes: text-xl from global;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #393D46;
    margin-top: 46px;
    margin-bottom: 12px;
}

.titleDescription {
    padding-left: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #5F6C81;
    margin-bottom: 161px;
}

.heading {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: justify-center from global;
    composes: pb-2xs from global;

    composes: lg_flex-nowrap from global;
    composes: lg_items-center from global;
    composes: lg_justify-between from global;
    composes: lg_pb-sm from global;
    composes: lg_w-full from global;
}

.categoryContent {
    composes: lg_flex-grow from global;
    padding-top: 15px;
    padding-left: 20px;
}

.categoryInfo {
    flex-basis: 100%;
    composes: leading-tight from global;
    composes: max-w-[75vw] from global;
    composes: mx-0 from global;
    composes: my-xs from global;
    composes: text-center from global;

    composes: lg_m-0 from global;
    composes: lg_text-left from global;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(57, 61, 70, 0.7);
}

.headerButtons {
    composes: flex from global;
    composes: justify-center from global;
    composes: pb-sm from global;
    flex-basis: 100%;

    composes: lg_justify-end from global;
    composes: lg_pb-0 from global;
    width: 100%;
    justify-content: space-between;
}

.contentWrapper {
    composes: w-full from global;

    composes: lg_flex from global;
}

.sidebar {
    composes: hidden from global;

    composes: lg_flex from global;
    composes: lg_self-start from global;
    /* composes: lg_pt-16 from global; */
    composes: lg_w-filterSidebarWidth from global;
}

@media (max-width: 768px) {
    .categoryTitle {
        display: flex;
        justify-content: center;
    }

    .titleDescription {
        display: none;
    }
}