.root {
    composes: border-t-2 from global;
    composes: border-solid from global;
    composes: border-light from global;
    composes: leading-normal from global;
    composes: min-h-[15rem] from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: pt-16 from global;
    composes: text-sm from global;
    composes: text-subtle from global;
    composes: w-full from global;
    background-color: #393d46;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 1270px;
    height: 100%;
    padding-bottom: 88px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.linkGroup {
    composes: col-span-3 from global;
    composes: content-start from global;
    composes: grid from global;
    composes: xs_col-span-2 from global;
    gap: 27px;
}

.linkItem {
    max-width: 290px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}

.linkItem:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.socialLinks {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-start from global;
    color: #ffffff;
    gap: 36px;
    opacity: 0.6;
}

.linkItemLogo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.18em;
    color: rgba(255, 255, 255, 0.9);
}

.linkItemAddress {
    composes: linkItem;
    position: relative;
    padding-left: 30px;
}

.linkItemMail {
    composes: linkItem;
    position: relative;
    padding-left: 30px;
}

.linkItemPhone {
    composes: linkItem;
    position: relative;
    padding-left: 30px;
}

.linkItemAddress::before {
    content: url('../../assets/Vector3.svg');
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.linkItemMail::before {
    content: url('../../assets/Vector4.svg');
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.linkItemPhone::before {
    content: url('../../assets/Vector5.svg');
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 28px;
    max-width: 1270px;
}

.rights {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .links {
        flex-direction: column;
        padding-left: 32px;
    }

    .linkGroup {
        margin-bottom: 53px;
    }

    .social {
        width: 100%;
        flex-direction: column;
        margin-left: 32px;
        padding: 0px;
    }

    .rights {
        margin-bottom: 32px;
    }

    .socialLinks {
        gap: 35px;
    }
}
