.root {
    composes: gap-xs from global;
    composes: grid from global;
    composes: justify-items-stretch from global;
    composes: px-sm from global;
    composes: py-xs from global;

}

.message {
    composes: bg-subtle from global;
    composes: leading-tight from global;
    composes: p-xs from global;
    composes: rounded from global;
    composes: text-sm from global;
}

/* TODO @TW: cannot compose */
.message:empty {
    display: none;
}

.actions {
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-flow-row from global;
    composes: justify-center from global;
    composes: mt-xs from global;
    composes: text-center from global;

    composes: lg_grid-flow-col from global;
    display: flex;
    flex-direction: column;
}

.cancelButton {
    composes: root_lowPriority from '../Button/button.module.css';
}

.submitButton {
    composes: root_highPriority from '../Button/button.module.css';

    composes: col-start-auto from global;

    composes: lg_col-start-2 from global;
}

.subscribe {
    composes: -ml-1.5 from global;
    padding-left: 5px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    color: #393D46;
}

.formWrap {
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancelbtn {
    margin-bottom: 36px;
}
@media screen and (max-width : 768px) {
    .root {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-50%, 0px);
    }
}